html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
}
header {
  text-align: center;
  color: #fff;
  font-family: 'Bubblegum Sans', cursive;
  text-shadow: 4px 4px 10px #000;
  margin: 30px auto;
}
/*why did I have to add html before body here? i had to do this so the background gradient wouldn't get cut off*/
html, body {  
  background: linear-gradient(#222, #ccc);
  height: 100%; 
}
a {
  color: black;
}
h1 {
  font-size: 60px;
}
.info {
  max-width: 500px;
  padding: 10px;
  margin: 20px auto;
  color: #ddd;
  text-align: center;
  font-family: verdana;
  border-radius: 25%;
  font-size: 20px;
}
.game-box {
  border: #fff solid 5px;
  border-radius: 5px;
  background: url(images/question-marks.png) repeat;
  max-width: 500px;
  max-height: 250px;
  display: block;
  margin: 10px auto;
}
.game-box label {
  display: block;
  margin: 10px auto;
  color: #fff;
  text-align: center;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 36px;
  text-shadow: 4px 4px 10px #000;

}
.game-box input {
  display: block;
  height: 100px;
  width: 200px;
  font-size: 20px;
  margin: 15px auto;
  text-align: center;
}
.game-box input[type=submit] {
  display: block;
  font-size: 25px;
  background: #ff4466;
  margin: 5px auto;
  height: auto;
  padding: 0;
  border-radius: 5px;
}
.game-box #youwin {
  display: none;
  font-size: 50px;
  color: #ff0066;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
}
.game-buttons {
  width: 500px;
  height: auto;
  display: block;
  margin: 20px auto;
  
}
.game-buttons button {
  /*had trouble centering these - had to add the width to make it work but why didn't margin:auto work?*/
  font-size: 25px;
  background: #ff4466;
  width: 248px; 
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
}
.winner {
  background: url(images/stars.gif) repeat;
}
.winner .info {
  visibility: hidden;
}
/*is there a cleaner way to select these next two together?*/
button:hover {
  background: #ff7788;
}
#submit-guess:hover {
  background: #ff7788;
}
#number-guess:hover {
  background: #eee;
}
footer {
    margin: 30px;
    text-align: center;
    color: #000;
    font-family: verdana;
    font-size: 12px;
    background: transparent;
}
